@model TorneioTenisMesa.Models.Tournament

@{
    ViewData["Title"] = "Detalhes do Torneio";
    
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary">@ViewData["Title"]</h2>
    <a asp-action="EditTournament" asp-route-tournamentId="@Model.Id" class="btn btn-primary d-flex align-items-center gap-2">
    <i class="bi bi-plus-circle"></i> Edit Tournament
    </a>
</div>

@if (Model != null)
{
    <h3>@Model.Name</h3>
    <p><strong>Data de Início:</strong> @Model.StartDate.ToString("dd/MM/yyyy")</p>
    <p><strong>Data de Término:</strong> @Model.EndDate.ToString("dd/MM/yyyy")</p>

    <h4>Jogadores</h4>
    
    
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Grupo</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tp in Model.TournamentPlayers)
            {
                <tr>
                    <td>@tp.Player!.Name</td>
                    <td>@tp.Player.Group</td>
                    <td>@tp.Player.Rating</td>
                </tr>
            }
        </tbody>
    </table>

    <h4>Jogos</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Jogador 1</th>
                <th>Jogador 2</th>
                <th>Data</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Player1!.Name</td>
                    <td>@game.Player2!.Name</td>
                    <td>@game.Date.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@game.ScorePlayer1 - @game.ScorePlayer2</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum torneio encontrado.</p>
}
