@model TorneioTenisMesa.Models.Player

@{
    ViewData["Title"] = "Player Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h3>Welcome, @User.Identity!.Name!</h3>
    <p>You can view your Profile and the current Ranking.</p>

    <div class="mb-3">
        <!-- Link to view the Profile -->
        <a href="@Url.Action("Profile", "Player")" class="btn btn-primary">View my Profile</a>
        
        <!-- Link to view the Ranking -->
        <a href="@Url.Action("Ranking", "Player")" class="btn btn-success">View Ranking</a>
    </div>

    <div>
        <h4>Informations about the Tournament</h4>
        <p>You can view the details about the current Tournament.</p>
        <!-- Link to view the details about the Tournament -->
        <a href="@Url.Action("Results", "Player")" class="btn btn-warning">View current Tournament</a>
    </div>
</div>
